body {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
    background-color: black;
}


.post {
    /* background-color: white;
    width: 50%;
    margin: auto; */
    background-color: white;
    max-width: 720px;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.post-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-left {
    display: flex;
    align-items: center;
    padding: 20px;
}
.no-margin {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

.header-right {
    padding: 20px;
}

img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.post-body {
    padding: 15px;
}

.post-icons {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
}

.fa-regular {
    padding: 0 3px;
}

.fa-brands {
    padding-right: 15px;
}

.texto {
    text-align: justify;
}
